.nome {

    color:#f00;
    /*
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    */

    font: italic bold 24px "Trebuchet MS", sans-serif;

    text-decoration: line-through;
    text-align: center;

}

.segmento {
    font-family: Palatino, serif;
}